{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}



{% block head_title %}
{% if title %}
{{ title }}
{% else %}
Nice blog
{% endif %}
{% endblock %}


{% block content %}
<div class="container">
    <div class="row">
        <!-- Latest Posts -->
        <main class="posts-listing col-lg-8">
            <div class="container">
                <div class="row">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <fieldset class="form-group">
                            <div class="media">
                                <img class="rounded-circle account-img rounded float-right" style="width: 50%;"
                                    src="{{ author.profile_picture.url }}">
                            </div>
                            <input class="form-control mt-3" type="text" name="name" value="{{ author.name }}"
                                maxlength="50" required="" id="id_name" style="width: 50%;">
                            <hr>
                            Change profile picture:
                            <input class="filestyle" type="file" name="profile_picture" accept="image/*"
                                id="id_profile_picture">

                        </fieldset>
                        <div class="form-group">
                            <button class="btn btn-outline-info" type="submit">UPDATE</button>
                        </div>
                    </form>






                </div>
            </div>
        </main>
        <aside class="col-lg-4">
            <!-- Widget [Search Bar Widget]-->
            <div class="widget search">
                <header>
                    <h3 class="h6">Search the blog</h3>
                </header>
                <form action="{% url 'search' %}" class="search-form">
                    <div class="form-group">
                        <input type="text" name="q" placeholder="What are you looking for?">
                        <button type="submit" class="submit"><i class="icon-search"></i></button>
                    </div>
                </form>
            </div>
            <!-- Widget [Latest Posts Widget]        -->
            <div class="widget latest-posts">
                <header>

                    {% if not posts %}
                    <h3 class="h6">You haven't post anything yet.</h3>
                    {% else %}
                    <h3 class="h6">Your posts</h3>
                    {% endif %}
                </header>
                <div class="blog-posts">
                    {% for post in posts %}
                    <a href="{{ post.get_absolute_url }}">
                        <div class="item d-flex align-items-center">
                            <div class="image"><img src="{{ post.thumbnail.url }}" alt="..." class="img-fluid"></div>
                            <div class="title"><strong>{{ post.title }}</strong>
                                <div class="d-flex align-items-center">
                                    <div class="views"><i class="icon-eye"></i> {{ post.views_count }}</div>
                                    <div class="comments"><i class="icon-comment"></i>{{ post.comment_count }}</div>
                                </div>
                            </div>
                        </div>
                    </a>
                    {% endfor %}
                    <a class="btn btn-lg btn-primary" href="{% url 'create' %}">New post</a>
                </div>
            </div>
            <!-- Widget [Categories Widget]-->
            <div class="widget categories">
                <header>
                    <h3 class="h6">Categories</h3>
                </header>
                {% for cat in category_count %}
                <div class="item d-flex justify-content-between">
                    <a href="{% url 'category-posts' category=cat.categories__title %}">
                        {{ cat.categories__title }}
                    </a>
                    <span>{{ cat.categories__title__count }}</span>
                </div>
                {% endfor %}
            </div>
        </aside>
    </div>
</div>
{% endblock content %}